@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 20px;
}

.main {
    padding: 0 70px;
}

header {
    text-align: center;
    padding: 15px 0;
}

.notice {
    height: 55px;
    padding: 2px;
    text-align: center;
    background-color: red;
    color: white;
}

.title {
    border-bottom: 0px solid rgb(41, 138, 199);
}

a {
    color: rgb(51, 167, 240);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.25s, border-color 0.25s;
    border-bottom: 2px solid rgb(41, 138, 199);
    border-color: transparent;
}

a:hover {
    color: rgb(41, 138, 199);
    border-color: rgb(41, 138, 199);
}
